  
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HelloWorld</title>
        <link href="/styles.css" rel="stylesheet">
    </head>
    <body>
        <h2>Welcome to Hello World</h2>
        <div class="myclass">
            <h3>This is a demo</h3>
        </div>
        <form action='/helloUser'>
            <input type="text" name="user-name" value placeholder="Insert your name here" maxlength="150" autocomplete="off" role="textbox">
        </form>
    </body>
</html>